* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #907aaf;
    text-align: center;
}

.game-board {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.btn {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.6);
    font-size: 8vmin;
    color: #FF595E;
    background-color: #63ADF2;
    cursor: pointer;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #161414;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#new-game-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #161414;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#msg {
    color: #690432;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}